body {
    background-color: cyan;
    height: 100vh;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    text-align: center; 
}
input[name="image"] {
    width: auto;
    margin: auto; /* Center the input field horizontally */
}